adjustText
adjustText
alembic
alembic
altair
altair
anthropic>=0.3.1
anthropic>=0.3.1
datasets
datasets
fastapi==0.100.0
fastapi==0.100.0
fire
fire
hydra-core
hydra-core
matplotlib
matplotlib
openai==0.28.0
openai==0.28.0
pandas
pandas
polars
polars
pre-commit
pre-commit
psycopg2-binary==2.9.6
psycopg2-binary==2.9.6
pydantic<2.0.0
pydantic<2.0.0
scikit-learn
scikit-learn
scipy
scipy
seaborn
seaborn
sqlalchemy==2.0.18
sqlalchemy==2.0.18
tabulate
tabulate
tenacity
tenacity
termcolor
termcolor
tiktoken
tiktoken
tqdm
tqdm
trueskill
trueskill
typer[all]
typer[all]
uvicorn[standard]==0.22.0
uvicorn[standard]==0.22.0
wandb
wandb
